<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="image/Logo/shortcut-icon.png">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Admin | Gundam Base</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section id="header">
        <a href="admin.html"><img src="../image/Logo/logo-gundam.png" alt="logo" class="logo"></a>

        <div>
            <ul id="navbar">
                <li><a href="#">Dashboard</a></li>
                <li><a href="../home.html">Logout</a></li>
            </ul>
        </div>
    </section>
</body>
</html>