<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Logo/shortcut-icon.png">
    <title>Login sekarang</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="shortcut icon" href="image/Logo/shortcut-icon.png">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <nav>
        <a href="../home.html"><img src="../image/Logo/logo-gundam.png"></a>
        <ul>
            <li><a href="#"></a>Butuh bantuan?</li>
        </ul>
    </nav>

    <form action="submit">
        <div class="container">
            <div class="kotak-left kotak" >
                <div class="content">
                <img src="../image/Logo/logo-gundam.png" alt="" srcset="">
                <h2>Ayo Temukan Gundam Favoritmu Disini</h2>
                </div>
            </div>
            <div class="kotak-right kotak">
                <h2>LOG IN</h2>
                <div class="icon">
                <a href="#"><img src="../image/icons/facebook.png" class="fb img"></class=></a>
                <a href="#"><img src="../image/icons/google.png" class="go img"></class=></a>
                <a href="#"><img src="../image/icons/icloud.png" class="ic img"></class></a>
            </div>
                <p>or use your email for log in</p>
        
                <div class="input">
                    <div class="input-name">
                        <input type="email" placeholder="Email" required>
                    </div>
                    <div class="input-name">
                        <input type="password" placeholder="Password" required>
                    </div>
                </div>
                <button class="btn2" type="submit">LOG IN</button><br>
                <p>belum punya akun? <a href="../components/Regis.html">daftar</a></p>
            </div>
        </div>
    </form>

    <footer class="section-p1">
        <div class="col">
            <img class="logo-2" src="../image/Logo/logo-gundam.png" alt="">
            <h4>Kontak Kami</h4>
            <p><Strong>Alamat:</Strong> Jl. Ahmad Dahlan No.76, Mojoroto, Kota Kediri, Jawa Timur 64112</p>
            <p><strong>Telepon:</strong> 0853 3021 2084</p>
            <p><strong>Jam Buka:</strong> 10:00 - 18:00, Senin - Sabtu</p>
            <div class="follow">
                <h4>Sosial Media</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-github"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>Tentang Kami</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>Akun Saya</h4>
            <a href="#">Sign In</a>
            <a href="#">VIew Cart</a>
            <a href="#">Wishlist</a>
            <a href="#">Track My Order </a>
            <a href="#">Help</a>
        </div>

        <div class="col">
            <h4>Secured Payment Gateways</h4>
            <img src="../image/Footer/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>© 2022, Kelompok 6 RPL - Tugas Akhir RPL</p>
        </div>
    </footer>

    
</body>
</html>